## [Visual Studio]
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## [Build Results]
[Bb]in/
[Oo]bj/
[Pp]ublish/

## [Common Binary Formats]
*.exe
*.dll
*.pdb
*.msi
*.nupkg
*.zip
*.7z

## [Operating System]
Thumbs.db
ehthumbs.db
Desktop.ini

## [Web App Specific]
appsettings.Development.json
wwwroot/lib/*
wwwroot/css/*.gz
wwwroot/css/*.br
wwwroot/js/*.gz
wwwroot/js/*.br

## [Tools]
.vscode/
.idea/
*.log
/Logs
