################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Delivery-System.slnx/FileContentIndex/375f19ae-2b2b-489a-9e25-63b2e6993271.vsidx
/.vs/Delivery-System.slnx/FileContentIndex/6b0af679-894b-4b85-94a5-0a4e977fcf83.vsidx
/.vs/Delivery-System.slnx/FileContentIndex/073b7891-79aa-4791-b84b-f0aa6d34f00d.vsidx
